.bg-image {
  background-image: url("https://static.vecteezy.com/system/resources/previews/013/743/844/original/bar-graph-growth-and-up-arrow-png.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}
