.bg-image {
  background-image: url("https://static.vecteezy.com/system/resources/previews/013/743/844/original/bar-graph-growth-and-up-arrow-png.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
