<div class="bg-image  position-relative">
    <div class="position-absolute w-50  top-0">
        <h1>Welcome to Trading Journal!</h1>
        <h5>The ultimate app for your trading management needs.</h5>
        <br>
        <h2>What we do</h2>
        <p>We provide a comprehensive trading journal for traders who want to monitor the progress of their investments.
            With
            our app, you can easily add, delete, and update your trades, as well as access various statistical data to
            assess
            your performance. By using our dashboard, you will have a clear overview of your net income, open positions,
            losses,
            wins, and other important statistics.
        </p>
    </div>

</div>